In [1]:
import collections
import numpy as np
import pandas as pd
import re
import os
from argparse import Namespace

# Get the current directory where yelp.py is located
current_dir = os.getcwd()

args = Namespace(
    raw_train_dataset_csv = os.path.join(current_dir, "raw_train.csv"),
    raw_test_dataset_csv = os.path.join(current_dir, "raw_test.csv"),
    train_proportion = 0.7,
    val_proportion = 0.3,
    output_munged_csv = os.path.join(current_dir, "reviews_with_splits_lite.csv"),
    seed = 1337
)

# Read raw data
train_reviews = pd.read_csv(args.raw_train_dataset_csv, header=None, names=["rating", "review"])
train_reviews = train_reviews[~pd.isnull(train_reviews["review"])]
test_reviews = pd.read_csv(args.raw_test_dataset_csv, header=None, names=["rating", "review"])
test_reviews = test_reviews[~pd.isnull(test_reviews["review"])]

# Split into train/val
train_reviews.head()

   rating                                             review
0       1  Unfortunately, the frustration of being Dr. Go...
1       2  Been going to Dr. Goldberg for over 10 years. ...
2       1  I don't know what Dr. Goldberg was like before...
3       1  I'm writing this review to give you a heads up...
4       2  All the food is great here. But the best thing...

In [2]:
test_reviews.head()

   rating                                             review
0       1  Ordered a large Mango-Pineapple smoothie. Stay...
1       2  Quite a surprise!  \n\nMy wife and I loved thi...
2       1  First I will say, this is a nice atmosphere an...
3       2  I was overall pretty impressed by this hotel. ...
4       1  Video link at bottom review. Worst service I h...

In [3]:
set(train_reviews["rating"])

{1, 2}

In [4]:
# split train by rating
by_rating = collections.defaultdict(list)
for _, row in train_reviews.iterrows():
    by_rating[row.rating].append(row.to_dict())

In [5]:
len(by_rating[1])

280000

In [6]:
len(by_rating[2])

280000

In [ ]:
# create split data
final_list = []
np.random.seed(args.seed)

for _, item_list in sorted()